<nav>
  <ul>
    <li><a href="/">Home</a></li>
    {{#if loggedIn}}
      <li><a href="/clubs">View Book Clubs</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
    {{/if}}
  </ul>
</nav>
