<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/clubs">Clubs</a></li>
    </ul>
</nav>