{{> navbar}}
<h1>Welcome to Book Club Manager</h1>
{{#if user}}
    <p>Welcome back, {{user.username}}!</p>
    <a href="/clubs">View Book Clubs</a>
{{else}}
    <p>Your go-to platform for managing your book club account.</p>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Login</a>
{{/if}}
